.header {
  background-color: #007b93;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px;
  box-sizing: border-box;
  align-items: flex-end;

  .signin {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
